# =======================================================================================
# Visual Studio Community version is friendly to open source projects.
# The eula indicates it can be used for the development of open source softwares.
# Even the Official CPython package for Windows is built using Visual Studio.
# So here, Visual Studio Community version is used to build and test atomscistudio.
# =======================================================================================
name: Build for Windows using MSVC community version
on:
  push:
    branches: [ master ]
    tags:
      - 'v*'
  pull_request:
    branches: [ master ]
jobs:
  build-for-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019]
    steps:
      - name: Cache test
        id: cache-vcpkg
        uses: actions/cache@v3
        with:
          path: C:\Users\runneradmin\AppData\Local\vcpkg\archives
          key: ${{ runner.os }}-test-vcpkg-2022.06-try-1
      - name: Test vcpkg gtest cache
        run: |
          vcpkg install gtest:x64-windows
